In [1]:
#Import libraries

import pandas as pd
from datetime import datetime

In [2]:
#Parse date column
def custom_date_parser(date_str):
    return pd.to_datetime(date_str, format='%Y%m%d')

In [3]:
#Read CSV file
df = pd.read_csv('supermarket.csv', parse_dates=['SHOP_DATE'], date_parser=custom_date_parser)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578082 entries, 0 to 578081
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SHOP_WEEK                 578082 non-null  int64
 1   SHOP_DATE                 578082 non-null  datetime64[ns]
 2   SHOP_WEEKDAY              578082 non-null  int64
 3   SHOP_HOUR                 578082 non-null  int64
 4   QUANTITY                  578082 non-null  int64
 5   SPEND                     578082 non-null  float64
 6   PROD_CODE                 578082 non-null  object
 7   PROD_CODE_10              578082 non-null  object
 8   PROD_CODE_20              578082 non-null  object
 9   PROD_CODE_30              578082 non-null  object
 10  PROD_CODE_40              578082 non-null  object
 11  CUST_CODE                 492494 non-null  object
 12  CUST_PRICE_SENSITIVITY    492494 non-null  object
 13  CUST_LIFESTAGE            433142 non-null  object
 14  BASKET_ID                 578082 non-null  int64
 15  BASKET_SIZE               578082 non-null  object
 16  BASKET_PRICE_SENSITIVITY  578082 non-null  object
 17  BASKET_TYPE               578082 non-null  object
 18  BASKET_DOMINANT_MISSION   578082 non-null  object
 19  STORE_CODE                578082 non-null  object
 20  STORE_FORMAT              578082 non-null  object
 21  STORE_REGION              578082 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(5), object(15)
memory usage: 97.0+ MB

In [5]:
df.head()

,SHOP_WEEK,SHOP_DATE,SHOP_WEEKDAY,SHOP_HOUR,QUANTITY,SPEND,PROD_CODE,PROD_CODE_10,PROD_CODE_20,PROD_CODE_30,...,CUST_PRICE_SENSITIVITY,CUST_LIFESTAGE,BASKET_ID,BASKET_SIZE,BASKET_PRICE_SENSITIVITY,BASKET_TYPE,BASKET_DOMINANT_MISSION,STORE_CODE,STORE_FORMAT,STORE_REGION
0,200734,2007-10-19,6,8,1,9.50,PRD0901335,CL00058,DEP00016,G00006,...,XX,OT,994108000679877,M,MM,Small Shop,Fresh,STORE00001,LS,E02
1,200805,2008-03-28,6,21,1,1.49,PRD0901120,CL00162,DEP00055,G00016,...,XX,NaN,994110300629787,S,MM,Small Shop,Fresh,STORE00001,LS,E02
2,200716,2007-06-12,3,9,1,0.86,PRD0900963,CL00248,DEP00089,G00030,...,NaN,NaN,994106200026009,S,MM,Small Shop,Grocery,STORE00001,LS,E02
3,200815,2008-06-04,4,10,3,0.90,PRD0901055,CL00248,DEP00089,G00030,...,NaN,NaN,994111300076346,L,MM,Top Up,Grocery,STORE00001,LS,E02
4,200626,2006-08-24,5,16,1,1.77,PRD0901877,CL00169,DEP00056,G00017,...,NaN,NaN,994102000065854,L,LA,Top Up,Fresh,STORE00001,LS,E02

###Data Preparation

In [6]:
#Drop unused columns
columns_to_drop = ['PROD_CODE', 'PROD_CODE_10', 'PROD_CODE_20', 'PROD_CODE_30']
df = df.drop(columns=columns_to_drop, axis=1)

#Convert data type
df['SHOP_WEEK'] = df['SHOP_WEEK'].astype('object')
df['SHOP_WEEKDAY'] = df['SHOP_WEEKDAY'].astype('object')
df['SHOP_HOUR'] = df['SHOP_HOUR'].astype('object')
df['BASKET_ID'] = df['BASKET_ID'].astype('object')

# Separate numerical and categorical features
numerical_features = df[['QUANTITY', 'SPEND']]
categorical_features = df[['SHOP_WEEK','SHOP_WEEKDAY', 'SHOP_HOUR', 'PROD_CODE_40', 'CUST_CODE', 'CUST_PRICE_SENSITIVITY', 'CUST_LIFESTAGE', 'BASKET_ID', 'BASKET_SIZE', 'BASKET_PRICE_SENSITIVITY', 'BASKET_TYPE', 'BASKET_DOMINANT_MISSION', 'STORE_CODE', 'STORE_FORMAT', 'STORE_REGION']]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578082 entries, 0 to 578081
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SHOP_WEEK                 578082 non-null  object
 1   SHOP_DATE                 578082 non-null  datetime64[ns]
 2   SHOP_WEEKDAY              578082 non-null  object
 3   SHOP_HOUR                 578082 non-null  object
 4   QUANTITY                  578082 non-null  int64
 5   SPEND                     578082 non-null  float64
 6   PROD_CODE_40              578082 non-null  object
 7   CUST_CODE                 492494 non-null  object
 8   CUST_PRICE_SENSITIVITY    492494 non-null  object
 9   CUST_LIFESTAGE            433142 non-null  object
 10  BASKET_ID                 578082 non-null  object
 11  BASKET_SIZE               578082 non-null  object
 12  BASKET_PRICE_SENSITIVITY  578082 non-null  object
 13  BASKET_TYPE               578082 non-null  object
 14  BASKET_DOMINANT_MISSION   578082 non-null  object
 15  STORE_CODE                578082 non-null  object
 16  STORE_FORMAT              578082 non-null  object
 17  STORE_REGION              578082 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(15)
memory usage: 79.4+ MB

In [7]:
df.describe()

            QUANTITY          SPEND
count  578082.000000  578082.000000
mean        1.531784       1.933858
std         1.575491       2.877621
min         1.000000       0.010000
25%         1.000000       0.770000
50%         1.000000       1.240000
75%         1.000000       2.110000
max       129.000000     476.160000

In [8]:
categorical_features.value_counts

<bound method DataFrame.value_counts of        SHOP_WEEK SHOP_WEEKDAY SHOP_HOUR PROD_CODE_40       CUST_CODE  \
0         200734            6         8       D00002  CUST0000804514
1         200805            6        21       D00003  CUST0000735558
2         200716            3         9       D00009             NaN
3         200815            4        10       D00009             NaN
4         200626            5        16       D00004             NaN
...          ...          ...       ...          ...             ...
578077    200738            6        12       D00005  CUST0000451458
578078    200716            3        12       D00008  CUST0000957158
578079    200637            5        16       D00008  CUST0000111024
578080    200717            1        10       D00008  CUST0000412413
578081    200744            7        14       D00008  CUST0000509062

       CUST_PRICE_SENSITIVITY CUST_LIFESTAGE        BASKET_ID BASKET_SIZE  \
0                          XX             OT  994108000679877           M
1                          XX            NaN  994110300629787           S
2                         NaN            NaN  994106200026009           S
3                         NaN            NaN  994111300076346           L
4                         NaN            NaN  994102000065854           L
...                       ...            ...              ...         ...
578077                     UM            NaN  994108400460274           S
578078                     UM             OA  994106200802520           L
578079                     UM            NaN  994103100229855           L
578080                     UM             YF  994106300437841           L
578081                     UM            NaN  994109000359411           L

       BASKET_PRICE_SENSITIVITY BASKET_TYPE BASKET_DOMINANT_MISSION  \
0                            MM  Small Shop                   Fresh
1                            MM  Small Shop                   Fresh
2                            MM  Small Shop                 Grocery
3                            MM      Top Up                 Grocery
4                            LA      Top Up                   Fresh
...                         ...         ...                     ...
578077                       MM  Small Shop                 Grocery
578078                       UM      Top Up                   Fresh
578079                       MM   Full Shop                   Mixed
578080                       MM   Full Shop                   Mixed
578081                       MM      Top Up                   Mixed

        STORE_CODE STORE_FORMAT STORE_REGION
0       STORE00001           LS          E02
1       STORE00001           LS          E02
2       STORE00001           LS          E02
3       STORE00001           LS          E02
4       STORE00001           LS          E02
...            ...          ...          ...
578077  STORE00001           LS          E02
578078  STORE00001           LS          E02
578079  STORE00001           LS          E02
578080  STORE00001           LS          E02
578081  STORE00001           LS          E02

[578082 rows x 15 columns]>

### Feature engineering

In [9]:
#Drop non-member records
df.dropna(subset=['CUST_CODE'], inplace=True)

In [10]:
#Group by customer code
grouped_df = df.groupby('CUST_CODE')

# Capture first and last purchase per customer
df['FIRST_SHOP_DATE'] = grouped_df['SHOP_DATE'].transform('min')
df['LAST_SHOP_DATE'] = grouped_df['SHOP_DATE'].transform('max')

# Calculate meantime between purchase per customer
num_purchases_per_customer = grouped_df['SHOP_DATE'].transform('count')
df['MTBP'] = (df['LAST_SHOP_DATE'] - df['FIRST_SHOP_DATE']) / (num_purchases_per_customer - 1)
df['MTBP'] = df['MTBP'].where(num_purchases_per_customer > 1, pd.Timedelta(0))
df['MTBP'] = df['MTBP'].dt.days

# Calculate number of purchases per customer
df['NO_OF_PURCHASE'] = grouped_df['BASKET_ID'].transform('count')

# Calculate Mode of Weekday per customer (most frequent weekday)
df['MODE_WEEKDAY'] = grouped_df['SHOP_WEEKDAY'].transform(lambda x: x.value_counts().idxmax())

# Calculate average SHOP_HOUR per customer
df['MODE_SHOP_HOUR'] = grouped_df['SHOP_HOUR'].transform(lambda x: x.value_counts().idxmax())

# Calculate total spend per customer
df['SUM_SPEND'] = grouped_df['SPEND'].transform('sum')

# Capture min, max and avg spend per customer
df['AVG_SPEND'] = grouped_df['SPEND'].transform('mean')

# Calculate spend variance
def calculate_spend_variance(x):
    if len(x) <= 1:
        return 0
    return ((x - x.mean()) ** 2).sum() / (len(x) - 1)

df['SPEND_VARIANCE'] = grouped_df['SPEND'].transform(calculate_spend_variance)

# Handle missing value
mean_spend = df['SPEND'].mean()
df['SPEND'].fillna(mean_spend, inplace=True)

# Calculate ARPU
df['ARPU'] = grouped_df['SPEND'].transform('sum') / grouped_df['CUST_CODE'].transform('count')

# Calculate CLV per customer
churn_rate = 0.1
avg_customer_value = grouped_df['SPEND'].transform('sum') / grouped_df['BASKET_ID'].transform('count')
avg_customer_lifespan = 1 / churn_rate
df['CLV'] = avg_customer_value * avg_customer_lifespan

# Calculate the most frequent PROD_CODE_40 per customer
df['MODE_PRODUCT_CAT'] = grouped_df['PROD_CODE_40'].transform(lambda x: x.value_counts().idxmax())

# Identify CUST_PRICE_SENSITIVITY per customer and the distinct LIFE_STAGE per customer
distinct_price_sensitivity_per_customer = grouped_df['CUST_PRICE_SENSITIVITY'].last()
distinct_life_stage_per_customer = grouped_df['CUST_LIFESTAGE'].last()

df['PRICE_SENSITIVITY'] = df['CUST_CODE'].map(distinct_price_sensitivity_per_customer)
df['LAST_LIFESTAGE'] = df['CUST_CODE'].map(distinct_life_stage_per_customer)

# Calculate the most frequent BASKET_TYPE
df['MODE_BASKET_TYPE'] = grouped_df['BASKET_TYPE'].transform(lambda x: x.value_counts().idxmax())

# Calculate the most frequent BASKET_DOMINANT_MISSION per customer
df['MODE_BASKET_DOM'] = grouped_df['BASKET_DOMINANT_MISSION'].transform(lambda x: x.value_counts().idxmax())

# Drop unused columns
df.drop(['SHOP_WEEK', 'SHOP_DATE', 'SHOP_WEEKDAY', 'SHOP_HOUR', 'QUANTITY', 'SPEND', 'CUST_PRICE_SENSITIVITY', 'CUST_LIFESTAGE', 'BASKET_ID', 'BASKET_TYPE', 'BASKET_SIZE', 'BASKET_PRICE_SENSITIVITY', 'BASKET_DOMINANT_MISSION', 'PROD_CODE_40', 'STORE_CODE', 'STORE_FORMAT', 'STORE_REGION'], axis=1, inplace=True)

In [11]:
# Convert data type
df['MODE_WEEKDAY'] = df['MODE_WEEKDAY'].astype('object')
df['MODE_SHOP_HOUR'] = df['MODE_SHOP_HOUR'].astype('object')

In [12]:
# Save as .csv file

csv_file_path = "processed_data.csv"

# Save the DataFrame to the CSV file
df.to_csv(csv_file_path, index=False)

print("Data after feature engineering has been saved to", csv_file_path)

Data after feature engineering has been saved to processed_data.csv